{% extends "base.html" %}
{% block content %}

<body>

  <div class="container mt-3">
    <h1>WEBSITE TITLE</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit dicta perspiciatis ut ea possimus minima,
      impedit temporibus expedita sed provident, perferendis eveniet quaerat, saepe accusantium quos cupiditate illum!
      Commodi quae culpa nulla tenetur tempore autem hic sed libero, et fugit iure. Itaque enim in magni, fugit
      temporibus voluptatum quam deserunt.</p>
  </div>

</body>
{% endblock %}